    <div class="sidebar text-center">
    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/mantia/128.jpg" class="img-circle">
    <h1> --Heading-- </h1>

<ul class="list-unstyled" id="homeSubmenu">
    <li><a class="nav-link" href="/">Home</a></li>
    <li><a class="nav-link" href="/about">About</a></li>
</ul>

    </div>