<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
<%- include ('../partials/head') %>
</head>
<body class="container">

<main class="container">
    <div class="row">

      <%- include ('../partials/header') %>

        <div class="content">
               <h1>This is great, <%= name %></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium eum consequuntur alias quibusdam, pariatur fugiat iusto fugit totam minus architecto eligendi provident neque id aspernatur quisquam! Doloribus cupiditate, qui dolores.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis nemo quasi, quod, eius vous! Minima odit adipisci voluptatibus vero facilis quod libero deleniti, natus nisi quaerat. Vero, nectam possimus deserunt. Voluptas voluptatem unde dicta eos fugiat a nesciunt beatae quaerat reprehenderit quibusdam praesentium vero aliquam sint doloremque quas, soluta consequuntur in dolorem at eum est aperiam? Deserunt pariatur aspernatur sequi aut quidem libero et, mollitia dignissimos hic facilis. Illo odit sed quas, voluptates aperiam magni architecto, consequuntur beatae deleniti, distinctio saepe eveniet ducimus? Accusamus dolorem cupiditate recusandae rem error quos, amet possimus illo non, consequatur vel dignissimos? Itaque.
            </p>
        </div>
    </div>
</main>

<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>